{%extends 'base.html' %}
{% block title%}Mars Image Form{%endblock%}
{% block content %}
    <h1>Images from Mars</h1>
    <h4>Photos captured by Curiosity, Opportunity, Spirit, and Perseverance Rovers</h4>
    
 
    {% if data %}
        {% if not data["photos"][0] %}
            <p>Sorry no data from that Sol. Please try another date.</p>
        {% else %}  
        <form action="/mars/images/adds" method="POST">
            <div class="container">
                <div class="row justify-content-center">  
                <input type = "hidden" name = "earth_date" value = {{data["photos"][1]["earth_date"]}} />
                <input type = "hidden" name = "rover" value = {{data["photos"][1]["rover"]["name"]}} />
                <input type = "hidden" name = "sol" value = {{data["photos"][1]["sol"]}} />
                {% for num in range(0, 9)%}
                <div class="col-4">
                    <img src={{data["photos"][num]["img_src"]}}>
                    <p>{{data["photos"][num]["id"]}}</p>
                    <p class="d-inline" id="earth_date"><em>Earth Date: {{data["photos"][1]["earth_date"]}}</em></p>
                    <input type = "checkbox" value={{data["photos"][num]["img_src"]}} name="mycheckbox" />
                </div>
                {% endfor %}
                <button>Add Selected Photos</button>
                </div>  
            </div>
        </form>
        {% endif %}
        {% else %}
            <p><em>Select a rover and sol, and image will be here.</em></p>    
    {% endif %}


    <form method = "POST">
        {{ form.hidden_tag() }}    
        {% for field in form
            if field.widget.input_type != 'hidden' %}
            <p>
                    {{field.label}}
                    {{field}}
            
    
                {% for err in field.errors %}
                {{err}}
                {% endfor %}
            </p>
        {% endfor %}
        <button>Submit</button>
    </form>
{% endblock %}