{%extends 'base.html' %}
{% block title%}Mars Image{%endblock%}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
        <h1 class="display-6 text-info">Sol: {{photo.sol}}, Earth Date: {{photo.earth_date}}, via {{photo.rover_name}}</h1>
        
        <img class="view_image border border-info border-5" src='{{photo.urls}}'/>  
  
        <form action="/mars/images">
            <button class="btn btn-secondary">Back to Album</button>
        </form>
        </div>
    </div>
</div>








{% endblock %}