{%extends 'base.html' %}
{% block title%}Rover Images Page{%endblock%}
{% block content %}

{% if user %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="text text-info">{{user.username}}'s photo album</h1>
                {% if photos[0] not in photos%} 
                <h3 class="display-6">All the pictures you save will be here.</h3> 
                {% else %}
                <h3 class="display-6">All the pictures you saved are here.</h3> 
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <h1 class="display-5">Photo Album</h1>
    <h3 class="display-6">All the pictures you save will be here.</h3> 
{% endif %}

<div class="container">
    <div class="row justify-content-center">
      
            
            {% for p in photos%}
            {% if p.user_id == session['user_id']%}
            <div class="col-4 my-3">
                <img class="img-fluid img_thumbnail" src='{{p.urls}}' />
                <div class="d-block">
                <form class="d-inline" action="/mars/images/{{ p.id }}">
                    <button class="btn btn-secondary">VIEW</button>
                </form>
                <form class="d-inline" action="/delete/{{ p.id }}">
                    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </form>
                </div>
               
            </div>
            {% endif %}
            {% endfor %}
    </div>
</div>

{% endblock %}