{%extends 'base.html' %}
{% block title%}Mars Bookstore{%endblock%}
{% block content %}
    <h1>Gift Shop: Mars Books</h1>
    <h2>Books About Mars</h2>
  

    <h3>1</h3>
    <h4>{{books[0][string_isbn[0]]['title']}}</h4>
    <h4>By: {{books[0][string_isbn[0]]['authors'][0]['name']}}</h4>
    <img src="{{books[0][string_isbn[0]]['cover']['large']}}"/>
    <hr>
    <h3>2</h3>
    <h4>{{books[1][string_isbn[1]]['title']}}</h4>
    <h4>By: {{books[1][string_isbn[1]]['authors'][0]['name']}}</h4>
    <img src="{{books[1][string_isbn[1]]['cover']['large']}}"/>
    <hr>
    <h3>3</h3>
    <h4>{{books[2][string_isbn[2]]['title']}}</h4>
    <h4>By: {{books[2][string_isbn[2]]['authors'][0]['name']}}</h4>
    <img src="{{books[2][string_isbn[2]]['cover']['large']}}"/>
{% endblock %}