{%extends 'base.html' %}
{% block title%}Rover Images Page{%endblock%}
{% block content %}
<h1>{{user.username}}'s photo album</h1>

<div class="container">
    <div class="row justify-content-center">
      
            <h3>All the pictures you save will be here.</h3>
            
            {% for p in photos%}
            {% if p.user_id == session['user_id']%}
            <div class="col-4">
                <img src='{{p.urls}}' />
                <h4>{{p.rover_name}}</h4>
                <a href="/mars/images/{{ p.id }}">View</a>
                <h6>Earth Date: {{p.earth_date}} Sol: {{p.sol}}</h6>
                <form action="/delete/{{ p.id }}">
                    <button>DELETE</button>
                </form>
            </div>
            {% endif %}
            {% endfor %}
    </div>
</div>

{% endblock %}